/* ClearAll.css */

.clear-all-container {
    width: 30px !important;
}

.clear-all-button {
    background: #ffffff;
    border: none;
    cursor: pointer;
    display: block;
    width: 100% !important;
    height: 30px;
    padding: 0;
}

.clear-all-button:hover {
    background-color: #f2f2f2;
}

.clear-all-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Style for the MUI icon */
.clear-all-icon svg {
    width: 20px;
    height: 20px;
    color: #000; 
}

/* Example of how to change mapbox default draw tool icons
these are the classes you need to target, icon is the background-image:
.mapboxgl-ctrl-group .mapbox-gl-draw_polygon 
.mapboxgl-ctrl-group .mapbox-gl-draw_polygon.active 

.mapboxgl-ctrl-group .mapbox-gl-draw_line 
.mapboxgl-ctrl-group .mapbox-gl-draw_line.active 

.mapboxgl-ctrl-group .mapbox-gl-draw_point 
.mapboxgl-ctrl-group .mapbox-gl-draw_point.active  */

.mapboxgl-ctrl-group .mapbox-gl-draw_polygon {
    background-image: url('https://www.svgrepo.com/show/364766/polygon-fill.svg') !important;
	background-size: 20px 20px; /* Adjust this to change the icon size */
    background-position: center;
    background-repeat: no-repeat;
    width: 30px; /* Adjust this to change the button width */
    height: 30px; /* Adjust this to change the button height */
}

.mapboxgl-ctrl-group .mapbox-gl-draw_polygon.active {
    background-image: url('https://www.svgrepo.com/show/364766/polygon-fill.svg') !important;
	background-size: 20px 20px; /* Adjust this to change the icon size */
    background-position: center;
    background-repeat: no-repeat;
    width: 30px; /* Adjust this to change the button width */
    height: 30px; /* Adjust this to change the button height */
}