body,
html {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.map-container {
	top: 0;
	bottom: 0;
	width: 100%;
}

.MuiButton-outlined {
	color: #878787 !important;
	border-color: #878787 !important;
}

.MuiButton-contained:not(:disabled) {
	background-color: #3690EB !important;
}